.output{
    text-align: center;
    margin-top: 8vh;
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace  ;
    font-weight: 800;
    /* display: none; */
    /* width: 169px; */
    /* background-color: rgb(0, 0, 0); */
    /* color: white;  */
    /* border-radius: 5px; */
    /* padding: 10px; */
    /* position: fixed; */
    /* z-index: 9999; */
    /* bottom: -5em; */
    /* left: 20px; */
    /* transition: bottom e.3s; */
}


/* .output .show{ 
    bottom: 5px;
} */